.pop-box {
    position: absolute;
    background-color: #099dd8;
    opacity: 0.9;
    z-index: 3;
    width: 335px;
    border-radius: 10%;
    border: 2px solid #0a0191;
    font-weight: 900;
    padding: 20px 0;
    font-weight: 800;
    color: #ffffff;
    text-shadow: #000000ff 2px 2px 2px;
    /*Animation*/
    visibility: visibile;
    transition: all .3s;
}

.animate {
    opacity: 0;
    visibility: hidden;
}

#pop-box-small {
    margin-bottom: 60px;
    height: 230px;
    font-size: 55px;
}

#pop-box-large {
    margin-top: 50px;
    height: 540px;
    text-align: center;
    font-size: 44px;
    line-height: 44px;
}

.pop-btn {
    position: relative;
    background-color: #93f7f2;
    font-family: 'Architects Daughter', cursive; 
    font-size: 25px;
    font-weight: 600;
    color: #0a0191;
    min-width: 80px;
    height: 50px;
    border: 2px solid #0a0191;
    border-radius: 50px;
    margin: 20px 3px 0;
}

#pop-btn1 {
    margin-top: 40px;
}

@media all and (min-height: 680px) {
    #pop-box-large {
        height: 600px;
    }
}

@media all and (min-width: 640px) and (min-height: 360px)  {
    .pop-box {
        display: block;
        text-align: center;
        padding: 5px 0
    }

    #pop-box-large {
        
        width: 630px;
        height: 270px;
        font-size: 40px;
        line-height: 60px;
        border-radius: 6%;
        margin-top: 40px;
    }

    #pop-btn1 {
        display: block;
        margin: 0 auto;
    }

    #pop-box-small {
        margin-bottom: 20px;
        height: 200px;
        line-height: 90px;
    }
}

/* 
@media all and (min-height: 645px) and (max-height: 740px) {
    #pop-box-large {
        height: 600px;
    }
}

@media (min-width: 630px) {
    .pop-box {
        display: block;
        text-align: center;
        padding: 5px 0
    }

    #pop-box-small {
        margin-bottom: 20px;
        height: 200px;
        line-height: 90px;
    }

    #pop-box-large {
        
        width: 630px;
        height: 270px;
        font-size: 40px;
        line-height: 60px;
        border-radius: 6%;
        margin-top: 40px;
    }

    .pop-btn {
        margin: 10px 3px 0;
    }

    #pop-btn1 {
        display: block;
        margin: 0 auto;
    }
}    */
