.pop-box {
    position: absolute;
    background-color: #099dd8;
    opacity: 0.9;
    border-radius: 10%;
    border: 2px solid #0a0191;
    font-weight: 900;
    padding: 20px 0;
    font-weight: 800;
    color: #ffffff;
    text-shadow: #000000ff 2px 2px 2px;
    /*Animation*/
    visibility: visibile;
    transition: all .3s;
}

.animate {
    opacity: 0;
    visibility: hidden;
}

#pop-box-small {
    width: 310px;
    height: 230px;
    font-size: 55px;
    margin-top: 5rem;
}

#pop-box-large {
    width: inherit;
    height: inherit;
    text-align: center;
    font-size: 44px;
    line-height: 44px;
}

.pop-btn {
    position: relative;
    background-color: #93f7f2;
    font-family: 'Architects Daughter', cursive; 
    font-size: 25px;
    font-weight: 600;
    color: #0a0191;
    width: auto;
    height: 50px;
    border: 2px solid #0a0191;
    border-radius: 50px;
    padding: 0 20px;
    margin: 20px 3px 0;
}

#pop-btn1 {
    margin-top: 40px;
}

@media (min-width: 568px) {
    #pop-box-large {
        display: block;
        
    }

    #pop-box-small {
        width: 330px;
        margin-top: 2rem;
    }
}

@media (min-width: 768px) and (min-height: 1024px) {
    #pop-box-small {
        width: 450px;
        margin-top: 130px;
    }
}

@media (min-width: 992px) {
    #pop-box-large {
        display: block;   
    }

    #pop-box-small {
        width: 330px;
        margin-top: 2rem;
    }
}
