@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import "../css/play_section.css";

*{box-sizing: border-box;
margin: 0;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.c-blue {
    color: #0a0191;
}

.bg-white {
    background-color: #ffffff;
    opacity: 0.9;
}

.display-none {
    display: none;
}

body {
    position: relative;
    background-image: url("../images/paper_3.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    margin: auto;
    font-family: 'Architects Daughter', cursive; 
    color: #0a0191;
}   

#title-container {
    position: relative;
    width: 170px;
    height:55px;
    text-align: center;
    text-decoration: underline;
    font-size: 18px;
    border: solid 0.1px #0a0191;
    border-radius: 3%;
}

#word-section {
    position: relative;
    background-color: transparent;
    width: auto;
    height: auto;
    text-align: center;
}

.letter {
    display: inline-block;
    width: 30px;
    height: 60px;
    margin: 0 4px;
    text-align: center;
    font-size: 50px;
    color: transparent;
    border-bottom: 4px solid #0a0191;
    padding-top: 2px;
}

.visible {
    color: #0a0191;
}


#keyboard-section {
    position: relative;
    width: 310px;
    height: 250px;
    text-align: center;
}

.keyboard-key {
    position: relative;
    width: auto;
    height: auto;
    border-radius: 50px;
    font-family: 'Architects Daughter', cursive; 
    font-size: 38px;
    margin: 1px 5px;
    line-height: 40px;
}

button:disabled { 
    background-color: #5db0e7; 
    opacity: 0.7;
    color: #e7a75d; 
} 

.pop-box {
    position: absolute;
    background-color: #73b1ca;
    opacity: 0.9;
    margin-bottom: 60px;
    width: 300px;
    height: 230px;
    z-index: 3;
    border-radius: 10%;
    font-size: 55px;
    font-weight: 900;
    padding: 20px 0;
}

.pop-btn {
    position: relative;
    background-color: #93f7f2;
    font-family: 'Architects Daughter', cursive; 
    font-size: 25px;
    color: #0a0191;
    width: 90px;
    height: 50px;
    border: 2px solid #ffffff;
    border-radius: 50px;
}
