@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*{box-sizing: border-box;
margin: 0;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.c-blue {
    color: #0a0191;
}

.bg-white {
    background-color: #ffffff;
    opacity: 0.9;
}

.display-none {
    display: none;
}

body {
    position: relative;
    background-image: url("../images/paper_3.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    margin: auto;
    font-family: 'Architects Daughter', cursive; 
    color: #0a0191;
}   

#title-container {
    position: relative;
    width: 170px;
    height:55px;
    text-align: center;
    text-decoration: underline;
    font-size: 18px;
    border: solid 0.1px #0a0191;
    border-radius: 3%;
}

#word-container {
    position: relative;
    background-color: transparent;
    width: auto;
    height: auto;
    text-align: center;
}

.letter {
    display: inline-block;
    width: 30px;
    height: 60px;
    margin: 0 4px;
    text-align: center;
    font-size: 50px;
    color: transparent;
    border-bottom: 4px solid #0a0191;
    padding-top: 2px;
}

.visible {
    color: #0a0191;
}


#keyboard-container {
    position: relative;
    width: 310px;
    height: 250px;
    text-align: center;
}

.keyboard-key {
    position: relative;
    width: auto;
    height: auto;
    border-radius: 50px;
    font-family: 'Architects Daughter', cursive; 
    font-size: 38px;
    margin: 1px 5px;
    line-height: 40px;
}

button:disabled { 
    background-color: #5db0e7; 
    opacity: 0.7;
    color: #e7a75d; 
} 

.pop-box {
    position: absolute;
    background-color: #73b1ca;
    opacity: 0.9;
    margin-bottom: 60px;
    width: 300px;
    height: 230px;
    z-index: 2;
    border-radius: 10%;
    font-size: 55px;
    font-weight: 900;
    padding: 20px 0;
}

.pop-btn {
    position: relative;
    background-color: #93f7f2;
    font-family: 'Architects Daughter', cursive; 
    font-size: 25px;
    color: #0a0191;
    width: 90px;
    height: 50px;
    border: 2px solid #ffffff;
    border-radius: 50px;
}

#draw-container {
    position: relative;
    justify-content:space-between;
    width: 300px;
    height: 200px;
}

#refresh-word-btn {
    font-family: 'Architects Daughter', cursive; 
    font-size: 14px;
    font-weight: 600;
    width: 66px;
    height: 50px;
    border-radius: 50px;
    margin: 3px 6px;
}

#draw-group {
    position: relative;
    width: 180px;
    height: 190px;
}

.gallows {
    position: absolute;
    border: 3px solid #0A0191;
    filter: blur(1px);
}

#line-1 {
  width: 180px;
  height: 0px;
  top: 90px;
  left: -40px;
  transform: rotate(90deg);  
}
  
#line-2 {
  width: 73.67px;
  height: 0px;
  top: 180px;
  left: 20px;    
}
  
#line-3 {
  width: 80px;
  height: 0px;
  top: 9px;
  left: 44px;
  transform: rotate(-2.51deg);
}
  
#line-4 {
  width: 35px;
  height: 0px;
  top: 25px;  
  left:100px;  
  border: 1px solid #0A0191;
  filter: blur(1px);
  transform: rotate(90deg);
}

#line-5 {
    width: 20px;
    height: 30px;
    top: 40px;  
    left:107px;
    box-sizing: border-box;
    border-radius: 50%;
    filter: blur(1px);
}

.hangman {
    position: absolute;
    border: 1.5px solid #0A0191;
    filter: blur(0.5px);
}

.hangman-hidden {
    opacity: 0;
}

#head {
    background-image: url("../images/hangman_face_3.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 33px;
    height: 34px;
    top:43px;
    left: 100px;
    border-radius: 50%;
    box-sizing: border-box;
    z-index: 3;
}

 #body {
    visibility: hidden;
    width: 50px;
    height: 0px;
    top:100px;
    left: 91px;
    transform: rotate(90deg);
 }

 #arm-l {
     width: 26.42px;
     height: 0px;
     top: 95px;
     left: 90px;
     transform: rotate(150.52deg);
}

#arm-r {
    width: 28.3px;
    height: 0px;
    top: 96px;
    left: 115px;
    transform: rotate(32.01deg);
}

#leg-l {
    width: 36.24px;
    height: 0px;
    top: 138px;
    left: 87px;
    transform: rotate(129.4deg);
}

#leg-r {
    width: 38.42px;
    height: 0px;
    top: 138px;
    left: 107px;
    transform: rotate(51.34deg);
}
