.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.row-wrap {
    flex-flow: row wrap;
}

.col-wrap {
    flex-flow: column wrap;
}

.align-between {
    align-content: space-between;
}

.items-start {
    align-items: flex-start;
}

.items-center {
    align-items: center;
}

.items-end {
    align-items: flex-end;
}

.c-blue {
    color: #0a0191;
}

.bg-white {
    background-color: #ffffff;
    opacity: 0.6;
}

.display-none {
    display: none;
}

.margin-top {
    margin-top: 30px;
}

.margin-bottom {
    margin-bottom: 40px;
}

button {
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); 
    transform: scale(1); 
    transition: all 0.2s 0s ease-in-out;  
}

button:hover {
    transform: scale(1.2); 
}
